.PostContainer{
  border: 0.1rem solid #ff69b4;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p{
    font-size: 1.6rem;
    color: darken(#fff, 80);
    margin-bottom: 2rem;
  }
}

.PostGrid{
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 4rem;
  gap: 2rem;
}

.PostTitle{
  text-transform: uppercase;
  color: #747bff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.PostLink{
  background-color: #747bff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: block;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken(#747bff, 40);
  }
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.Error, .Loading{
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 4rem;
  color: #747bff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.Loader {
  color: #747bff;
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
  transform: rotate(45deg);
  transform-origin: 4rem 4rem;

  div {
    top: 2.8rem;
    left: 2.8rem;
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background: currentColor;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before, &::after {
      content: " ";
      position: absolute;
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      background: currentColor;
    }

    &::before {
      left: -2.4rem;
      border-radius: 50% 0 0 50%;
    }

    &::after {
      top: -2.4rem;
      border-radius: 50% 50% 0 0;
    }
  }
}




